<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" style="background-color:aliceblue;color:black;font-size: 22px;font-weight: bold;">
    <h2>Hey</h2>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12" style="background-color:antiquewhite;color:black;font-size: 22px;font-weight: bold;">
    <h2>How</h2>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12" style="background-color:aquamarine;color:black;font-size: 22px;font-weight: bold;">
    <h2>Are</h2>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12" style="background-color:bisque;color:black;font-size: 22px;font-weight: bold;">
    <h2> You</h2>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:blueviolet;color:black;font-size: 22px;font-weight: bold;">
    <h1> Steffin ?</h1>
  </div>
  <mat-form-field>
    <input matInput type="text" placeholder="Material Loaded">
  </mat-form-field>
</div>
